body {
    min-width: 660px;
}
.after_nav {
    display: none !important;
}
.CompanyLogo{
    display: none !important;
}

@media screen and (max-width: 991px) {
    .after_nav {
        display: block !important;
    }

    .CompanyLogo {
        display: none !important;
    }
}

@media screen and (max-width: 650px) {
    body {
        zoom: 50%;
    }

    #header__inner {
        background-color: #06273C;
        min-height: 90px;
    }

    .home-visual__atpp {
        top: 500px;
    }

    #home-tour {
        margin-top: 191px !important;
    }

    .grid-row {
        /* gap: 100px !important; */
    }

    .row {
        gap: 10px
    }

    .grid-item {
        height: 590px;
    }

    .grid-thumb {
        height: 420px !important;
    }

    .grid-content {
        margin-top: -11px !important;
    }

    #photo-gallery {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 590px !important;
        width: 100%;
    }

    .photo-gallery__latest {
        height: 440px !important;
        width: 580px !important;
    }

    .photo-gallery__other {
        height: 150px;
        display: flex;
        flex-flow: row;

    }

    .item {
        width: 290px !important;
        margin-top: 0px !important;
    }

    .gallery-label {
        bottom: 1%;
    }

    #video-gallery {
        width: 100%;
        height: 420px;

        justify-content: center;
        display: flex;
    }

    .video-gallery__latest {
        height: 350px !important;
        width: 580px !important;
    }

    .container1 {}

    .col-lg-resp {

        justify-content: center;
        display: flex;
    }

    #home-featured__banner {
        display: none;
        width: 570px !important;

    }

    .navbar-toggler {
        font-size: 50px !important;
    }

    .navbar i {
        font-size: 30px !important;
    }

    .col-lg-8res {
        display: flex;
        justify-content: center;

    }

    #home-featured__diduknow {
        margin: 0 !important;

    }

    .nav-link img {
        width: 100px;
        justify-content: center;
    }

    #footer-logo {
        top: 70px;
        right: 100px !important;
    }

    .clients-logo img {
        display: none !important;
    }

    .navbar-nav {
        font-size: 50px !important;
    }

}

#home-featured {
    display: flex;
    justify-content: center;

}
